---
layout: default
title: Lalith Natarajan · Developer 
---
<header>
    <nav class="navbar navbar-default header-navbar">
      <div class="container font_oswald">
        <div class="col-md-3 name-container" >Lalith Natarajan</div>
        <div id="navbar" class="col-md-9 navbar-collapse collapse pull-right">
          <ul class="nav navbar-nav">
	            <li>
            	<a href="#contact-details-container">contact</a>
            </li>
            <li>
            	<a target="_blank" href="http://bit.ly/2dxOhH3">resume</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>

<div class="content-scroller font_pt-sans">
	<div class="about-section container">
		<div class="col-md-6 col-sm-12 col-xs-12 about-me-container image-container">
        	<img class="img-responsive" src="images/profile_pic.png" alt="Lalith_profile_pic" >
      	</div>
      	<div class="col-md-6 col-sm-12 col-xs-12 about-me-container">
       	 <div class="blockquote">
       	 	"You'll laugh at your fears when you find out who you really are" - <a href ="https://en.wikipedia.org/wiki/Piccolo_(Dragon_Ball)"> Piccolo </a> 
       	 </div>
       	 <div class="tiny-break"></div>
       	 <p>
			 Hello! I am <b>Lalith Natarajan</b>. I am currently a Software Engineer at <a href="https://www.canvs.ai"> Canvs </a> and was a graduate student at <a href="https://www.buffalo.edu">The University at Buffalo</a> where I majored in Computer Science. I love computers and have good experience developing applications that run on them with a particular interest in data engineering. I am also a fan of minimalistic design and I strive to simplify things around me. I hold other interests besides technology which include movies, soccer, music, quizzing, traveling and anime. Feel free to browse around. Thank you! </p>
      	</div>
	</div>

	{% include experience.html %}
	{% include projects.html %}
	{% include education.html %}
	{% include skills.html %}
	{% include contacts.html %}
	
</div> <!-- end .content-scroller -->

<footer>
    <div class="container page-section font_actor">
        <div class="col-md-12">
            <p class="text-center last"> Coded with 
            	<a href="https://github.com/bizentass/bizentass.github.io">
            		<span class="text-danger fa fa-heart"></span> </a> </p>                    
        </div><!-- end col-md-12 -->
    </div><!-- end .container -->
</footer>

<!-- Include Project Modals -->
{% include /modals/os161.html %}
{% include /modals/machine_learning.html %}
{% include /modals/data_mining.html %}
{% include /modals/eda_parallel.html %}
{% include /modals/incident_search.html %}
{% include /modals/tla_plus.html %}
{% include /modals/fpl.html %}
{% include /modals/tweet_indexer.html %}
{% include /modals/vis_synthesis.html %}
