<div class="modal fade" id="proj_dm" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="popup-modal">
		    <img class="img-responsive" src="images/projects/soccer_mining_inner.png" alt="Data Mining Screenshot">
		    <div class="description-box">
			      <h4>SoccerMiner</h4>
			      <p> The football.db dataset was chosen for this project and the preliminary cleaning was done, games geo-tagged,
			      temporal correlations visualized and k means clustering carried out. The teams were then given a rating depending 
			      on the no. of games played, goals scored and other parameters.
			      </p>
			      <p>
			      	<i class="fa fa-history"></i> 
			      		May 2016
			      </p>
			      <p>
			      	<i class="fa fa-github"></i> 
			      	<a href="https://github.com/bizentass/mining_soccer_data">
			      		Repository Link
			      	</a>
			      </p>

               	<span class="categories">
               		<i class="fa fa-tag"></i> R, R Shiny, Leaflets
               	</span>
		    </div>
            <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
	    </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->