<div class="modal fade" id="proj_dic" tabindex="-1" role="dialog">
	<div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
	        <div class="popup-modal">
			    <img class="img-responsive" src="images/projects/eda_parallel_inner.png" alt="EDA & Parallel Batch Projects Screenshot">
			    <div class="description-box">
			     	 <h4> Exploratory Data Analysis and Hadoop Parallel Batch Processing</h4>
			     	 <ul class="unordered-list">
						<li>EDA of the dataset given in 'Doing Data Science' and Streaming Social Media Data - 
						<a href="https://github.com/bizentass/exploring_R"> 
							Repository Link 
						</a>
						</li>
						<li> Parallel batch processing on UB's classroom dataset - 
						<a href="https://github.com/bizentass/data_processing_hadoop"> 
							Repository Link 
						</a>
						</li>
					  </ul>
				      <p>
				      	<i class="fa fa-history"></i> 
				      		March - May 2016
				      </p>
	               	<span class="categories">
	               		<i class="fa fa-tag"></i> R, R Shiny, Leaflets, Apache Hadoop, Hive and Pig.
	               	</span>
			    </div>
	            <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	            </div>
		    </div>
	      </div>
	    </div><!-- /.modal-content -->
	 </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->
 
