<div class="modal fade" id="proj_fpl" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="popup-modal">
		    <img class="img-responsive" src="images/projects/fpl_project_inner.png" alt="FPL Assignment Screenshots">
		    <div class="description-box">
				<h4> Programming Paradigms </h4>
				<p> Following are the broad categories. More programs are present in the repository</p>
				<p> Object Oriented Programming </p>
					<ul class="unordered-list">
					    <li> Top Down Parser for a custom grammar in Java</li>
					    <li> Multiple Inheritance using delegation in Java </li>
					    <li> Design Patterns identification</li>
					</ul>
				<p> Functional Programming </p>
					<ul class="unordered-list">
					    <li> Binary Search Tree in SML</li>
					    <li> Depth Order Search Traversal in SML </li>
					    <li> Mapper and Reducer in SML</li>
					    <li> Generating Church Numerals in SML</li>
					</ul>
				<p> Logic Programming </p>
					<ul class="unordered-list">
					    <li> Constraint Resolution in Prolog</li>
					    <li> Reducible check in Prolog </li>
					</ul>
				<p>
					<i class="fa fa-history"></i> 
						Sep - Dec 2015
				</p>
				<p>
					<i class="fa fa-github"></i> 
					<a href="https://github.com/bizentass/CSE-505-Assignments">
						Repository Link
					</a>
				</p>
               	<span class="categories">
               		<i class="fa fa-tag"></i> Java, Python, C, SML, Prolog, Lambda Calculus
               	</span>
		    </div>
            <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
	    </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->