<div class="modal fade" id="proj_incident" tabindex="-1" role="dialog">
	<div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
	        <div class="popup-modal">
			    <img class="img-responsive" src="../images/projects/incident_search_inner.png" alt="Incident Search Screenshot">
			    <div class="description-box">
				      <h4> Sweet Search - Incident Based Twitter Search</h4>
				      <p> This is a web-based search system used to retrieve incident specific information from social media. If a user searches about say, Paris attacks, we would aggregate information from twitter, show the various influencers, topics discussed and places of interest. The user would then be able to form a rounded opinion about the incident. Content tagging, faceted search and cross-document analytics were performed to achieve this. We were one of the few teams selected to present in class.
				      </p>
				      <p>
				      	<i class="fa fa-history"></i> 
				      		December 2015
				      </p>
				      <p>
				      	<i class="fa fa-github"></i> 
				      	<a href="https://github.com/bizentass/sweetsearch">
				      		Repository Link
				      	</a>
				      </p>
	
	               	<span class="categories">
	               		<i class="fa fa-tag"></i> Apache Solr, Stanford NER, Ruby on Rails, jQuery
	               	</span>
			    </div>
	            <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	            </div>
		    </div>
	      </div>
	    </div><!-- /.modal-content -->
	 </div><!-- /.modal-dialog -->
 </div><!-- /.modal -->
 
