<div class="modal fade" id="proj_ml" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="popup-modal">
					<img class="img-responsive"
						src="../images/projects/machine_learning_inner.png"
						alt="Machine Learning Screenshots">
					<div class="description-box">
						<h4>Machine Learning Projects</h4>
						<p>Multiple projects coded during the course of CSE 574
							offered in Spring 2016.</p>
						<ul class="unordered-list">
							<li>Handwritten Digits Classification using Neural Networks - 
							<a href="https://github.com/bizentass/handwritten_digits_classification_nn"> 
								Repository Link 
							</a>
							</li>
							<li>Classification and Regression -  
							<a href="https://github.com/bizentass/classification_regression"> 
								Repository Link 
							</a>
							</li>
							<li>Logistic Regression and Digits Classification using SVM - 
							<a href="https://github.com/bizentass/logistic_regression_classification_SVM"> 
								Repository Link 
							</a>
							</li>
						</ul>
						<p>
							<i class="fa fa-history"></i> Feb - May 2016
						</p>
						<span class="categories"> 
							<i class="fa fa-tag"></i> 
							Python, scikit-learn
						</span>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- /.modal -->