<div class="modal fade" id="proj_OS" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="popup-modal">
		    <img class="img-responsive" src="images/projects/os_inner.png" alt="OS Assignment Screenshots">
		    <div class="description-box">
				<h4> OS/161 </h4>
				<p> As part of <a href="https://ops-class.org"> ops-class </a> we (team of 2) had a semester long project in which a bare-bones Operating Systems 
				had to be sequentially fleshed out with modules as mentioned below.</p>
				<ul class="unordered-list">
				    <li> Simple locks, Condition Variables and Reader-Writer locks.</li>
				    <li> File and System calls.</li>
				    <li> Virtual Memory, Address Translation, Page Replacement and Swapping.</li>
				</ul>
				<p>
				<i class="fa fa-history"></i> 
				Feb - May 2016
				</p>
				<p>
				<i class="fa fa-github"></i> 
				<a href="https://github.com/bizentass/OS161"> Repository Link </a>
				</p>
               	<span class="categories">
               		<i class="fa fa-tag"></i> C, GDB, Git, OS/161 
               	</span>
		    </div>
            <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
	    </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->