<div class="modal fade" id="proj_formal_specs" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="popup-modal">
		    <img class="img-responsive" src="images/projects/formal_specifications_inner.png" alt="Formal Specs Screenshot">
		    <div class="description-box">
			      <h4> Formal Specifications of Distributed Algorithms</h4>
			      <p> TLA+ is a formal specification language used to model check properties of complex distributed algorithms. It was used to specify and check properties in Hybrid Vector Clocks and Dijkstra's 4 state and 3 state token ring algorithms.
			      </p>
			      <p>
			      	<i class="fa fa-history"></i> 
			      		Nov - Dec 2015
			      </p>
			      <p>
			      	<i class="fa fa-github"></i> 
			      	<a href="https://github.com/bizentass/formal_specifications_hvc">
			      		HVC Repository Link
			      	</a>
			      	<a href="https://github.com/bizentass/formal_specifications_token_rings">
			      		Token Ring Repository Link
			      	</a>
			      </p>

               	<span class="categories">
               		<i class="fa fa-tag"></i> TLA+, LaTex
               	</span>
		    </div>
            <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
	    </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->