<div class="modal fade" id="proj_tweet_idx" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="popup-modal">
		    <img class="img-responsive" src="images/projects/tweet_indexer_inner.png" alt="Tweet Indexer Screenshot">
		    <div class="description-box">
			      <h4> Daily Tweet Indexer</h4>
			      <p> Using the Twython API, tweets are extracted from lists every 10 minutes. These tweets are then cleaned, various fields removed and renamed. They are then fed into Solr for language wise indexing. Python cron tabs are used for automating the entire process.
			      </p>
			      <p>
			      	<i class="fa fa-history"></i> 
			      		September 2015
			      </p>
			      <p>
			      	<i class="fa fa-github"></i> 
			      	<a href="https://github.com/bizentass/daily_tweet_indexer">
			      		Repository Link
			      	</a>
			      </p>

               	<span class="categories">
               		<i class="fa fa-tag"></i> Python, Apache Solr
               	</span>
		    </div>
            <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
	    </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->