<div class="modal fade" id="proj_vis_synthesis" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="popup-modal">
		    <img class="img-responsive" src="images/projects/visual_speech_inner.png" alt="Visual Speech Inner Screenshot">
		    <div class="description-box">
			      <h4> Visual Speech Synthesis</h4>
			      <p> This was my final year academic project during my undergraduation. The windows based application is used to convert text to audiovisual stream with a custom face giving the impression of a photorealistic video. Two algorithms were compared by implementing them and improved by implementation of proper time delays. Additionally, reading of text from files, storage of video and human data was used. 
			      </p>
			      <p>
			      	<i class="fa fa-history"></i> 
			      		April 2012
			      </p>
			      <p>
			      	<i class="fa fa-github"></i> 
			      	<a href="https://github.com/bizentass/visual_speech_synthesis">
			      		Repository Link
			      	</a>
			      </p>

               	<span class="categories">
               		<i class="fa fa-tag"></i> VB.Net, Microsoft SDK
               	</span>
		    </div>
            <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
	    </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->