<div class="education-section">
	<div class="sticky-wrapper" id="education-nav">
		<div class="gap education">
			<div class="container">
				<p>
					education <i class="fa fa-graduation-cap sticky-wrapper-icon"></i>
				</p>
			</div>
		</div>
	</div>

	<div id="education-details-container">
		<div class="container page-section">
			<div class="col-md-9">
				<div class="cv-item edu-item">
					<div class="tiny-break"></div>
					<h4>Master of Science in Computer Science</h4>
					<p>Graduate Studies with concentration in Software Systems</p>
					<h5>Coursework</h5>
					<ul class="unordered-list">
						<li>Distributed Systems (CSE 586)</li>
						<li>Information Retrieval (CSE 535)</li>
						<li>Fundamentals of Programming Languages (CSE 505)</li>
						<li>Algorithms for Modern Computing Systems (CSE 529)</li>
						<li>Machine Learning (CSE 574)</li>
						<li>Data Intensive Computing (CSE 587)</li>
						<li>Operating Systems (CSE 521)</li>
						<li>Topics in Data Mining (CSE 706)</li>
						<li>Machine Learning and Big Data (CSE 740)</li>
						<li>Languages and Runtimes for Big Data (CSE 662)</li>
					</ul>
				</div>
				<!-- end .cv-item -->
			</div>
			<!-- end .col-md-9 -->
			<div class="col-md-3">
				<div class="page-section-title">
					<div class="time-range">
						2015 <span>/ Aug</span> - 2017<span>/ Jan</span>
					</div>
					<a href="https://www.buffalo.edu"> <img class="img-responsive"
						src="images/schools/UB-logo.png">
					</a>
					Graduate Student
				</div>
				<!-- end .page-section-title -->
			</div>
			<!-- end col-md-3 -->
		</div>
		<!-- end .page-section -->

		<div class="container page-section">
			<div class="col-md-9">
				<div class="cv-item edu-item">
					<div class="tiny-break"></div>
					<h4>Bachelor of Engineering in Computer Science & Engineering
					</h4>
					<p>Undergraduate Studies</p>
					<h5>Relevant Coursework</h5>
					<ul class="unordered-list">
						<li>Fundamentals of Computing and Computer Programming</li>
						<li>Object Oriented Programming</li>
						<li>Data Structures</li>
						<li>Design and Analysis of Algorithms</li>
						<li>Probability and Queueing Theory</li>
						<li>Database Management Systems</li>
						<li>Computer Organization and Architecture</li>
						<li>Operating Systems</li>
						<li>Computer Networks</li>
						<li>Java Programming</li>
						<li>Internet Programming</li>
						<li>Open Source Tools and Components</li>
						<li>Data Warehousing and Data Mining</li>
						<li>Compiler Design</li>
					</ul>
				</div>
				<!-- end .cv-item -->
			</div>
			<!-- end .col-md-9 -->
			<div class="col-md-3">
				<div class="page-section-title">
					<div class="time-range">
						2008 <span>/ Aug</span> - 2012 <span>/ Apr</span>
					</div>
					<a href="http://www.skcet.ac.in/index.php"> <img
						class="img-responsive" src="images/schools/skcet-logo.png">
					</a>
					Undergraduate Student
				</div>
				<!-- end .page-section-title -->
			</div>
			<!-- end col-md-3 -->
		</div>
		<!-- end .page-section -->
	</div>
</div>
<!-- end .education-section -->