<div class="experience-section">
	<div class="sticky-wrapperca" id="experience-nav">
		<div class="gap experience">
			<div class="container">
				<p>
					experience <i class="fa fa-briefcase sticky-wrapper-icon"></i>
				</p>
			</div>
		</div>
	</div>

	<div id="work-ex-details-container">
		<div class="container page-section">
			<div class="col-md-3">
				<div class="page-section-title">
					<div class="time-range">
						2017 <span> /March</span> - <span> Present </span>
					</div>
					<a href="http://www.canvs.ai/"> <img class="img-responsive"
						src="images/companies/canvs-logo.png">
					</a>
					Senior Backend Engineer
				</div>
				<!-- end .page-section-title -->
			</div>
			<!-- end .span3 -->
			<div class="col-md-9">
				<div class="cv-item">
					<p>Having joined full-time after my internship, I have continued to develop
						Canvs' DaaS offering along with their micro-services endpoints. I also play the role
						of a data-engineer creating data pipelines to ingest data through Storm, Kafka, Spark,
						ElasticSearch and Vertx.</p>
					<div class="tiny-break"></div>
					<p class="company-desc">
						<a href="http://www.canvs.tv/">Canvs </a> is the only qualitative
						social platform to track emotional metrics and audience behavior.
						It is based in New York City.
					</p>
				</div>
				<!-- end .cv-item -->
			</div>
			<!-- end .col-md-9 -->
		</div>
		<div class="container page-section">
			<div class="col-md-3">
				<div class="page-section-title">
					<div class="time-range">
						2016 <span> /May</span> - 2017 <span> /Jan</span>
					</div>
					<a href="http://www.canvs.ai/"> <img class="img-responsive"
						src="images/companies/canvs-logo.png">
					</a>
					Backend Developer Intern
				</div>
				<!-- end .page-section-title -->
			</div>
			<!-- end .span3 -->
			<div class="col-md-9">
				<div class="cv-item">
					<p>Interned at this SaaS analytics startup that
						tracks emotional metrics across all forms of data. I develop
						their DaaS API opening up new avenues for brands and networks interested
						in multi-faceted emotional data. I engineer multiple RESTful endpoints using Java
						and interfacing with MongoDB, ElasticSearch, Redis, Kafka and Storm.</p>
					<div class="tiny-break"></div>
					<p class="company-desc">
						<a href="http://www.canvs.tv/">Canvs </a> is the only qualitative
						social platform to track emotional metrics and audience behavior.
						It is based in New York City.
					</p>
				</div>
				<!-- end .cv-item -->
			</div>
			<!-- end .col-md-9 -->
		</div>
		<!-- end .page-section -->
		<div class="container page-section">
			<div class="col-md-3">
				<div class="page-section-title">
					<div class="time-range">
						2015 <span> /May</span> - 2015 <span> /Jul </span>
					</div>
					<a href="http://www.augrav.com/"> <img class="img-responsive"
						src="images/companies/augrav-logo.png">
					</a>
					Software Developer
				</div>
				<!-- end .page-section-title -->
			</div>
			<!-- end .span3 -->
			<div class="col-md-9">
				<div class="cv-item">
					<p>I was a part of this startup which focused on selling
						personalized jewelry. I worked on Python, Blender and various JS
						libraries while I was here. I had evaluated various technologies
						like OpenGL, Blender, Pillow, Sprite-spin and Three.js to create a
						custom 3D modeler for Augrav.com. We finalized an optimum solution
						using Blender, Sprite-Spin and hosted on Flask.</p>
					<div class="tiny-break"></div>
					<p class="company-desc">
						<a href="http://www.augrav.com/">Augrav </a>is a Krizda India
						Pvt Ltd venture specializing in personalized jewelry.
					</p>
				</div>
				<!-- end .cv-item -->
			</div>
			<!-- end .col-md-9 -->
		</div>
		<!-- end .page-section -->

		<div class="container page-section">
			<div class="col-md-3">
				<div class="page-section-title">
					<div class="time-range">
						2014 <span>/ Dec</span> - 2015 <span> /Jul </span>
					</div>
					<a href="http://www.generalsentiment.com/the-team/"> <img
						class="img-responsive" src="images/companies/gs-logo-plain.png">
					</a>
					Software Developer
				</div>
				<!-- end .page-section-title -->
			</div>
			<!-- end .span3 -->
			<div class="col-md-9">
				<div class="cv-item">
					<p> This New York based startup dealt with social media
						analytics. I worked on Java, Struts, JavaScript libraries, Hadoop
						and Cassandra during my role as a Software Developer. I redesigned
						the consumer facing web application using Bootstrap 3 and Struts
						with the inclusion of a data visualization module for marketing
						analytics. I reduced the average response time of the application
						by over 20%. I had been part of a two-member team that upgraded
						the distributed system cluster used for the processing of
						real-time media data from Hadoop 1 to 2 by rewriting and
						optimizing a number of MapReduce jobs. I had solved
						critical-production issues that occurred in the distributed
						database system.</p>
					<div class="tiny-break"></div>
					<p class="company-desc">
						<a href="http://www.generalsentiment.com/the-team/">General
							Sentiment Inc.</a>is a Long Island based venture specializing in Data
						Analytics.
					</p>
				</div>
				<!-- end .cv-item -->
			</div>
			<!-- end .col-md-9 -->
		</div>
		<!-- end .page-section -->

		<div class="container page-section">
			<div class="col-md-3">
				<div class="page-section-title">
					<div class="time-range">
						2012 <span>/ Aug</span> - 2014 <span>/ Nov </span>
					</div>
					<a href="http://www.verizon.com/about/"> <img
						class="img-responsive" src="images/companies/verizon-logo.png">
					</a>
					Software Engineer
				</div>
				<!-- end .page-section-title -->
			</div>
			<!-- end .span3 -->
			<div class="col-md-9">
				<div class="cv-item">
					<p>I was a Software Engineer in the OSP Engineering domain of
						Verizon Communications Inc., the telecom powerhouse. I worked on
						Java based enterprise web applications as a Full-Stack developer. 
						Applications had to be migrated, upgraded and occasionally built from scratch. 
						I modified and optimized code for merging multiple databases, automated a manual
						spatial process and was involved in flat file to .dgn migration. I
						was part of discussions on a web application based on Esri's
						ArcGIS and Spring. I built the application base using Spring and
						coded multiple modules in Java and jQuery. I also developed
						spatial web modules using Oracle Spatial and ArcGIS (built on top
						of the Dojo framework using REST API endpoints). I had fixed 300+ bugs and  
						was presented an Ovation award for my efforts. I also mentored a small
						team of new joinees close to the end of my tenure.
					</p>
					<div class="tiny-break"></div>
					<p class="company-desc">
						<a href="http://www.verizon.com/about/">Verizon's </a>Software
						Development Center operates out of India in Chennai and Hyderabad.
					</p>
				</div>
				<!-- end .cv-item -->
			</div>
			<!-- end .col-md-9 -->
		</div>
		<!-- end .page-section -->
	</div>
</div>
<!-- end .experience-section -->