<div class="projects-section">
	<div class="sticky-wrapper" id="projects-nav">
		<div class="gap projects">
			<div class="container">
				<p>
					projects <i class="fa fa-inbox sticky-wrapper-icon"></i>
				</p>
			</div>
		</div>
	</div>

	<div class="container page-block">
		<div class="container" id="projects-detail-container">
			<div class="col-md-4 project-item">
				<div class="project-item-preview">
					<img src="images/projects/os.png"
						alt="OS/161 Projects">
					<div class="project-item-overlay">
						<div class="project-item-overlay-actions">
							<a class="ajax-popup-link project-item-link"
								href="#proj_OS" data-toggle="modal"
								data-target="#proj_OS"> <i class="fa fa-external-link"></i>
							</a>
						</div>
						<!-- end .project-item-overlay-actions -->
					</div>
					<!-- end .project-item-overlay -->
				</div>
				<!-- end .project-item-preview -->
				<div class="project-item-description">
					<h3>OS/161 Kernel Hacking</h3>
					<p>Operating Systems</p>
				</div>
				<!-- end .project-item-description -->
			</div>
			<div class="col-md-4 project-item">
				<div class="project-item-preview">
					<img src="images/projects/machine_learning.png"
						alt="Incident Search">
					<div class="project-item-overlay">
						<div class="project-item-overlay-actions">
							<a class="ajax-popup-link project-item-link"
								href="#proj_ml" data-toggle="modal"
								data-target="#proj_ml"> <i class="fa fa-external-link"></i>
							</a>
						</div>
						<!-- end .project-item-overlay-actions -->
					</div>
					<!-- end .project-item-overlay -->
				</div>
				<!-- end .project-item-preview -->
				<div class="project-item-description">
					<h3>Neural Nets and Support Vector Machines</h3>
					<p>Machine Learning</p>
				</div>
				<!-- end .project-item-description -->
			</div>
			<div class="col-md-4 project-item">
				<div class="project-item-preview">
					<img src="images/projects/soccer_mining.png"
						alt="Incident Search">
					<div class="project-item-overlay">
						<div class="project-item-overlay-actions">
							<a class="ajax-popup-link project-item-link"
								href="#proj_dm" data-toggle="modal"
								data-target="#proj_dm"> <i class="fa fa-external-link"></i>
							</a>
						</div>
						<!-- end .project-item-overlay-actions -->
					</div>
					<!-- end .project-item-overlay -->
				</div>
				<!-- end .project-item-preview -->
				<div class="project-item-description">
					<h3>Mining Soccer Data</h3>
					<p>Data Mining</p>
				</div>
				<!-- end .project-item-description -->
			</div>
			<div class="col-md-4 project-item">
				<div class="project-item-preview">
					<img src="images/projects/eda_parallel.png"
						alt="Incident Search">
					<div class="project-item-overlay">
						<div class="project-item-overlay-actions">
							<a class="ajax-popup-link project-item-link"
								href="#proj_dic" data-toggle="modal"
								data-target="#proj_dic"> <i class="fa fa-external-link"></i>
							</a>
						</div>
						<!-- end .project-item-overlay-actions -->
					</div>
					<!-- end .project-item-overlay -->
				</div>
				<!-- end .project-item-preview -->
				<div class="project-item-description">
					<h3>EDA and Parallel Processing</h3>
					<p>Data Intensive Computing</p>
				</div>
				<!-- end .project-item-description -->
			</div>
			<div class="col-md-4 project-item">
				<div class="project-item-preview">
					<img src="images/projects/incident_search.png"
						alt="Incident Search">
					<div class="project-item-overlay">
						<div class="project-item-overlay-actions">
							<a class="ajax-popup-link project-item-link"
								href="#proj_incident" data-toggle="modal"
								data-target="#proj_incident"> <i class="fa fa-external-link"></i>
							</a>
						</div>
						<!-- end .project-item-overlay-actions -->
					</div>
					<!-- end .project-item-overlay -->
				</div>
				<!-- end .project-item-preview -->
				<div class="project-item-description">
					<h3>Incident Search on Twitter</h3>
					<p>Information Retrieval</p>
				</div>
				<!-- end .project-item-description -->
			</div>
			<div class="col-md-4 project-item">
				<div class="project-item-preview">
					<img src="images/projects/formal_specifications.png"
						alt="Formal Specifications">
					<div class="project-item-overlay">
						<div class="project-item-overlay-actions">
							<a class="ajax-popup-link project-item-link"
								href="#proj_formal_specs" data-toggle="modal"
								data-target="#proj_formal_specs"> <i
								class="fa fa-external-link"></i>
							</a>
						</div>
						<!-- end .project-item-overlay-actions -->
					</div>
					<!-- end .project-item-overlay -->
				</div>
				<!-- end .project-item-preview -->
				<div class="project-item-description">
					<h3>Formal Specifications of Algorithms</h3>
					<p>Distributed Systems</p>
				</div>
				<!-- end .project-item-description -->
			</div>
			<div class="col-md-4 project-item">
				<div class="project-item-preview">
					<img src="images/projects/fpl_project.png"
						alt="Fundamentals of Programming Languages">
					<div class="project-item-overlay">
						<div class="project-item-overlay-actions">
							<a class="ajax-popup-link project-item-link" href="#proj_fpl"
								data-toggle="modal" data-target="#proj_fpl"> <i
								class="fa fa-external-link"></i>
							</a>
						</div>
						<!-- end .project-item-overlay-actions -->
					</div>
					<!-- end .project-item-overlay -->
				</div>
				<!-- end .project-item-preview -->
				<div class="project-item-description">
					<h3>Programming Paradigms</h3>
					<p>Fundamentals of Programming Languages</p>
				</div>
				<!-- end .project-item-description -->
			</div>
			<div class="col-md-4 project-item">
				<div class="project-item-preview">
					<img src="images/projects/tweet_indexer.png" alt="Tweet Indexer">
					<div class="project-item-overlay">
						<div class="project-item-overlay-actions">
							<a class="ajax-popup-link project-item-link"
								href="#proj_tweet_idx" data-toggle="modal"
								data-target="#proj_tweet_idx"> <i
								class="fa fa-external-link"></i>
							</a>
						</div>
						<!-- end .project-item-overlay-actions -->
					</div>
					<!-- end .project-item-overlay -->
				</div>
				<!-- end .project-item-preview -->
				<div class="project-item-description">
					<h3>Tweet Indexer</h3>
					<p>Information Retrieval</p>
				</div>
				<!-- end .project-item-description -->
			</div>
			<div class="col-md-4 project-item">
				<div class="project-item-preview">
					<img src="images/projects/visual_speech.png"
						alt="Visual Speech Synthesis">
					<div class="project-item-overlay">
						<div class="project-item-overlay-actions">
							<a class="ajax-popup-link project-item-link"
								href="#proj_vis_synthesis" data-toggle="modal"
								data-target="#proj_vis_synthesis"> <i
								class="fa fa-external-link"></i>
							</a>
						</div>
						<!-- end .project-item-overlay-actions -->
					</div>
					<!-- end .project-item-overlay -->
				</div>
				<!-- end .project-item-preview -->
				<div class="project-item-description">
					<h3>Visual Speech Synthesis</h3>
					<p>Speech to Text & Image Processing</p>
				</div>
				<!-- end .project-item-description -->
			</div>
		</div>
	</div>
</div>
<!-- .projects-section -->