<div class="skills-section">
	<div class="sticky-wrapper" id="skills-nav">
		<div class="gap skills">
			<div class="container">
				<p>
					skills <i class="fa fa-code sticky-wrapper-icon"></i>
				</p>
			</div>
		</div>
	</div>

	<div class="container page-section" id="skills-details-container">
		<div class="col-md-4">
			<div class="fixed">
				<div class="progress-bar-description">
					Java <span></span>
				</div>
				<!-- end .progress-bar-description -->

				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60"
						aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
						<span class="sr-only">95%</span>
					</div>
				</div>
			</div>
			<div class="fixed">
				<div class="progress-bar-description">
					J2EE Stack <span></span>
				</div>
				<!-- end .progress-bar-description -->

				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60"
						aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
						<span class="sr-only">85%</span>
					</div>
				</div>
			</div>
			<div class="fixed">
				<div class="progress-bar-description">jQuery</div>
				<!-- end .progress-bar-description -->

				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60"
						aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
						<span class="sr-only">90%</span>
					</div>
				</div>
			</div>
			<div class="fixed">
				<div class="progress-bar-description">HTML 5 / CSS3</div>
				<!-- end .progress-bar-description -->

				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60"
						aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
						<span class="sr-only">90%</span>
					</div>
				</div>
			</div>
			<div class="fixed">
				<div class="progress-bar-description">Python</div>
				<!-- end .progress-bar-description -->

				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60"
						aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
						<span class="sr-only">75%</span>
					</div>
				</div>
			</div>
			<div class="fixed">
				<div class="progress-bar-description">Spring MVC</div>
				<!-- end .progress-bar-description -->

				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60"
						aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
						<span class="sr-only">75%</span>
					</div>
				</div>
			</div>
		</div>
		<!-- first row of skills -->

		<div class="col-md-4">
			<div class="fixed">
				<div class="progress-bar-description">Struts</div>
				<!-- end .progress-bar-description -->

				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60"
						aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
						<span class="sr-only">75%</span>
					</div>
				</div>
			</div>
			<div class="fixed">
				<div class="progress-bar-description">Hadoop</div>
				<!-- end .progress-bar-description -->

				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60"
						aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
						<span class="sr-only">70%</span>
					</div>
				</div>
			</div>
			<div class="fixed">
				<div class="progress-bar-description">Shell Scripting</div>
				<!-- end .progress-bar-description -->

				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60"
						aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
						<span class="sr-only">70%</span>
					</div>
				</div>
			</div>

			<div class="fixed">
				<div class="progress-bar-description">PL/SQL</div>
				<!-- end .progress-bar-description -->

				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="60"
						aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						<span class="sr-only">60%</span>
					</div>
				</div>
			</div>
		</div>
		<!-- second row of skills -->

		<div class="col-md-4 cv-item" style="padding-top: 0px">
			<div class="icon-box-1">
				<div class="icon-box-content">
					<h4>
						<a
							href="http://university.mongodb.com/course_completion/5e9c4a19e75c4638882be04d57cae373">
							M101J: MongoDB for Java Developers </a>
					</h4>
					<p>
						July 2016 / MongoDB University<br>
					</p>
				</div>
				<!-- end .icon-box-content -->
			</div>
			<!-- end .icon-box-1 -->
			<div class="icon-box-1">
				<div class="icon-box-content">
					<h4>Ovation Award</h4>
					<p>
						May 2014 / Verizon <br>
					</p>
				</div>
				<!-- end .icon-box-content -->
			</div>
			<!-- end .icon-box-1 -->
			<div class="icon-box-1">
				<div class="icon-box-content">
					<h4>President</h4>
					<p>2011 - 2012 / Westibule English Club</p>
				</div>
				<!-- end .icon-box-content -->
			</div>
			<!-- end .icon-box-1 -->
			<div class="icon-box-1">
				<div class="icon-box-content">
					<h4>State Level Debate (3rd Place)</h4>
					<p>
						December 2011 / Sri Krishna College of Engineering & Technology<br>
					</p>
				</div>
				<!-- end .icon-box-content -->
			</div>
			<!-- end .icon-box-1 -->
			<div class="icon-box-1">
				<div class="icon-box-content">
					<h4>Finalist - Hackathon</h4>
					<p>
						October 2011 / PSG College of Technology<br>
					</p>
				</div>
				<!-- end .icon-box-content -->
			</div>
			<!-- end .icon-box-1 -->
			<div class="icon-box-1">
				<div class="icon-box-content">
					<h4>Paper Presentation (2nd Place)</h4>
					<p>
						September 2010 / Kumaraguru College of Technology<br>
					</p>
				</div>
				<!-- end .icon-box-content -->
			</div>
			<!-- end .icon-box-1 -->
		</div>
		<div class="col-md-9" style="padding-bottom: 1em;">
			<span class="label label-skill">ElasticSearch</span> 
			<span class="label label-skill">MongoDB</span> 
			<span class="label label-skill">Storm</span> 
			<span class="label label-skill">Kafka</span> 
			<span class="label label-skill">Bootstrap</span>
			<span class="label label-skill">TLA+</span> 
			<span class="label label-skill">Bootstrap</span> 
			<span class="label label-skill">Git</span> 
			<span class="label label-skill">Eclipse</span>
			<span class="label label-skill">Vim</span>
			<span class="label label-skill">GDB</span>
			<span class="label label-skill">Photoshop</span>
			<span class="label label-skill">LaTex</span> 
			<span class="label label-skill">Unix/Linux</span>
			<span class="label label-skill">Mac OS X</span>
		</div>
	</div>
</div>