
.font_satisfy {
	font-family: 'Satisfy';
  	font-weight: normal;
 	font-style: normal;
}

.font_satisfy-bold {
	font-family: 'Satisfy';
  	font-weight: 700;
 	font-style: normal;
}

.font_oswald {
	font-family: 'Oswald';
  	font-weight: normal;
 	font-style: normal;
}

.font_oswald_light {
	font-family: 'Oswald';
  	font-weight: 300;
 	font-style: normal;
}

.font_oswald_bold {
	font-family: 'Oswald';
  	font-weight: 700;
 	font-style: normal;
}

.font_actor {
	font-family: 'Actor';
  	font-weight: normal;
 	font-style: normal;
}

.font_actor_bold {
	font-family: 'Actor';
  	font-weight: 700;
 	font-style: normal;
}

footer{
	display:table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer a{
	color: #000000;
}