<!DOCTYPE HTML>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="shortcut icon" href="images/favicon.png">
		<title>{{page.title}}</title>
	
		<link href='https://fonts.googleapis.com/css?family=Satisfy'
			rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oswald'
			rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Actor'
			rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=PT+Sans'
			rel='stylesheet' type='text/css'>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
			rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" 
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
	</head>

	<body>
		
	    {{ content }}
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<script src="libraries/js/jquery.waypoints.min.js"></script>		
	    <script>
			$(document).ready(function() {
				var cont_waypoints = $('.gap');
				for (var i = 0; i < cont_waypoints.length; i++) {
				  	new Waypoint({
					  	element: cont_waypoints[i],	
					  	handler: function(direction) {
					  		if(direction == 'down') {
					    		$(this.element).addClass('fixed-bar')
					    	}
					    	else if(direction == 'up') {
					    		$(this.element).removeClass('fixed-bar')
					    	}
					  	},
					  	continuous: false,
					  	offset: 50
					})
				};
			});
		</script>
	</body>
</html>
